body {
  margin: 0;
  height: 1080px;
  width: 1920px;
}

#content {
  position: absolute;
  height: 1080px;
  width: 1920px;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#mapImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

#menu {
  position: fixed;
  display: none;
  background-color: #000000d3;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 3rem;
}

#floating {
  position: fixed;
  height: 8rem;
  width: 8rem;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 255, 0.214);
  border-radius: 50%;
}
