body {
  margin: 0;
}

#content {
  position: absolute;
  height: 1080px;
  width: 1920px;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#mapImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
